/* Main App*/

#main {
  height: 100%;
  font-family: 'Helvetica Neue LT Std', sans-serif;
}

#root {
  height: 100%;
}

.App {
  text-align:center;
  display: flex;
  min-height: 100vh;
  align-items:center;
  justify-content:baseline;
  flex-direction: column;

}

.light {
  background: rgb(252,255,178);
  background: radial-gradient(circle, rgba(252,255,178,1) 0%, rgb(249, 252, 154) 80%, rgb(255, 246, 149) 100%);
}

.dark {
  background: rgb(62, 52, 80);
  background: radial-gradient(circle, rgba(62, 52, 80,1) 0%, rgb(59, 49, 60) 80%, rgb(62, 41, 40) 100%);
  color: bisque;
}

.devButtons {
  flex-direction: row;
  padding-bottom: 0.5rem;
  position: fixed;
  bottom: 0;
}

.iconButton {
  cursor: pointer;
  height: 25px;
  padding: 3vh 6vh;
}

.iconButton:hover {
  color:aqua
}

.navigationButton-dark {
  border-style: solid none;
  border-color: bisque;
  border-bottom-style: none;
  border-top-width: 2px;
}

.messageNavButton-dark {
  border-color: bisque;
  border-left-style: solid;
  border-right-style: solid;
}

.navigationButton-light {
  border-style: solid none;
  border-color: black;
  border-bottom-style: none;
  border-top-width: 2px;
}

.messageNavButton-light {
  border-color: black;
  border-left-style: solid;
  border-right-style: solid;
}

/*logo*/
.logo-light{
  height: 20vh;
}

.logo-dark{
  height: 20vh;
  filter: invert(1);
}
/* Message Window */
.window-light {
  row-gap: 50px;
  margin: 2vh;
  margin-bottom: 80px;
  border: 2px solid #dedede;
  background-color: rgb(252,255,178);
  border-radius: 5px;
  padding: 10px;
  width: 95%;
  height: 95%;
  text-align:left;
}

.window-dark {
  row-gap: 50px;
  margin: 2vh;
  margin-bottom: 80px;
  border: 2px solid #dedede;
  background-color: rgb(62, 52, 80);
  border-radius: 5px;
  padding: 10px;
  width: 95%;
  height: 95%;
  text-align:left;
}
.write_message {
  position: relative;
  top: 75%;
  border: 2px solid #111010;
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 5px;
  width: 98%;
  height: 20%;
  transition: 0.3s all;
  resize: none;
}

.msg_box, .msg_box.sent{
  /* position: relative; */
  /*top: 75%;*/
  /* border: 2px solid #111010; */
  /* background-color: #f9f9f9; */
  /* border-radius: 5px;
  padding: 10px;
  width: 90%;
  height: auto;
  transition: 0.3s all;
  display:block;
  overflow-wrap: break-word;
  display:inline-block;
  border-top-right-radius: 20px;
  text-align: left; */
  /*display: flex;*/
  flex-direction: row;
  position: relative;
  max-width: 80%;
  margin-bottom: 10px;
  height:80px;
  padding-left:20px;
}



.username {
  font-size: 14px;
  color: #999;
  margin-bottom: 5px;
}

.line {
  position: absolute;
  top: 0;
  left: 5px;
  width: 2px;
  height: 100%;
}

.line.sent {
  background-color: #d02323;
}

.line:not(.sent) {
  background-color: #3a12ee;
}


.message-container {
  padding-top: 20vh;
  overflow-y: scroll;
  height: 20vh;
}

/*Login and Register*/

.auth-form-container, .login-form, .register-form {
  display:flex;
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  .auth-form-container {
    padding: 2rem;
    padding-top: 0;
    border: 3px solid white;
    border-radius: 18px;
    margin: 0.5rem;
  }
}

form label {
  text-align: left;
  padding: 0.25rem 0;
}

form input {
  margin: 0.5vh 0;
  padding: .5vh 1rem;
  border: none;
  border-radius: 10px;
}

button[type="submit"]  {
  border: none;
  margin-top: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #7439db;
}

.link-button  {
  border: none;
  background: none;
  color: #7439db;
  text-decoration: underline;
  margin-top: 5vh;
  cursor: pointer;
}

.forgot {
  margin-top: .5rem;
}

/*Profile*/

.profile {
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alert {
  color: #d02323;
}